## Model Inference

In [1]:
# Import Library

import pickle
import joblib
import json
import pandas as pd
import numpy as np

## Load Model

In [2]:

with open('model.pkl', 'rb') as file_1:
  model_clus = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)

# with open('model_encoder.pkl', 'rb') as file_3:
#   encoder = pickle.load(file_3)

with open('list_num_cols.txt', 'r') as file_3:
  num_col = json.load(file_3)

with open('list_cat_cols.txt','r') as file_4: 
  cat_col = json.load(file_4)

with open('pipeline.pkl','rb') as file_5:
  pipe = pickle.load(file_5)

# num_pipeline = joblib.load('num_pipeline_model.joblib')
# cat_pipeline = joblib.load('cat_pipeline_model.joblib')
# full_pipeline = joblib.load('pipeline_model.joblib')

## Inferencing

In [3]:
df = pd.read_csv('data_inferences.csv')
inf = df.tail(5).reset_index().drop(['index','Unnamed: 0'],axis=1)
inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2345,9629.808851,1.0,0.0,0.0,0.0,4372.393835,0.000000,0.000000,0.0,0.545455,9,0,12000.0,2468.988022,2134.295731,0.0,11
1,6785,1040.030221,1.0,0.0,0.0,0.0,1390.648290,0.000000,0.000000,0.0,0.545455,18,0,1400.0,290.129620,287.994171,0.0,11
2,7347,1322.818587,1.0,0.0,0.0,0.0,762.301096,0.000000,0.000000,0.0,0.545455,11,0,1500.0,1035.627320,312.835530,0.0,11
3,8447,1060.391273,1.0,0.0,0.0,0.0,1475.858013,0.000000,0.000000,0.0,0.545455,10,0,2000.0,407.360560,277.084736,0.0,11
4,1995,3447.674222,1.0,205.0,205.0,0.0,4548.057776,0.090909,0.090909,0.0,0.545455,7,1,10500.0,665.239171,817.844662,0.0,11

In [4]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = inf[num_col]
data_inf_cat = inf[cat_col]
data_inf_num

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2345,9629.808851,1.0,0.0,0.0,0.0,4372.393835,0.000000,0.000000,0.0,0.545455,9,0,12000.0,2468.988022,2134.295731,0.0,11
1,6785,1040.030221,1.0,0.0,0.0,0.0,1390.648290,0.000000,0.000000,0.0,0.545455,18,0,1400.0,290.129620,287.994171,0.0,11
2,7347,1322.818587,1.0,0.0,0.0,0.0,762.301096,0.000000,0.000000,0.0,0.545455,11,0,1500.0,1035.627320,312.835530,0.0,11
3,8447,1060.391273,1.0,0.0,0.0,0.0,1475.858013,0.000000,0.000000,0.0,0.545455,10,0,2000.0,407.360560,277.084736,0.0,11
4,1995,3447.674222,1.0,205.0,205.0,0.0,4548.057776,0.090909,0.090909,0.0,0.545455,7,1,10500.0,665.239171,817.844662,0.0,11

In [5]:
data_pipe = pipe.fit_transform(data_inf_num)

In [6]:
model_clus.fit_predict(data_pipe)

array([2, 0, 0, 0, 1], dtype=int32)

Data telah terprediksi